body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container{
display:flex;

font-size: 20px;
}
.container1{
background-color: rgba(0, 0, 255, 0.681);
border-radius: 20px;
text-align: center;
color: wheat;
width: 350px;


}
.p1{
    
}
.score{
    color: aliceblue;
    color:white;
    background-color: rgba(0, 0, 255, 0.29);
    font-size: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 20px;
    margin: 10% auto;
    position: relative;

    
    
}
.content{
    height: auto;
    top:10%;
    transform: translatey(-10%);
    position:relative;
    text-align: center;
}
.container2{
    margin-left: 30px;
    width: 30%;
    
}
.fa-message-minus{
    color: green;
}
.fa-eye{
    color: rgba(0, 47, 255, 0.778);
    
}
.visual{
    background-color: rgba(0, 0, 255, 0.166);
    border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.reaction{
    background-color: rgba(223, 8, 108, 0.082);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: lowercase;
    font-size: 11px;
    color:rgb(223, 8, 33)  ;
}
.memory{
    background-color: rgba(223, 8, 108, 0.082);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: lowercase;
    font-size: 11px;
    background-color: rgba(255, 255, 0, 0.758)  ;
}
.verbal{
    background-color: rgba(51, 223, 8, 0.911);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: lowercase;
    font-size: 11px;
    
}

.fa-bolt{
    color:rgba(223, 8, 33, 0.566) ;
    
}
.button{
    width: 100%;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    background-color: black;
}
.fa-message-text{
    background-color: black;
}
